body {
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: 'Quantico', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}